# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
secrets.yml

# Environment Varibles
.env

# Dev and Dist directories
**/dist/**
**/dev/application

# Racket files
**/compiled/**

.DS_STORE